@model WeatherForecast.Models.Registeration
@{
    ViewBag.Title = "Reg";
}
<h2>Register to view the weather</h2>

<div>
    Are you already registered? <a asp-controller="Home" asp-action="Login">Go to Login</a>
</div>

@using (Html.BeginForm("SaveReg", "Home"))
{
<div class="form-group">
    @Html.Label("User Id:")
    @Html.TextBoxFor(m=> m.RegId, new { @class = "RegId form-control", name = "RegId", data = "RegId, Required" })
   
</div>
<div class="form-group">
    @Html.Label("Name:")
    @Html.TextBoxFor(m => m.Name, new { @class = "Name form-control", name = "Name" , data ="Required" })
 
</div>
<div class="form-group">
    @Html.Label("UserName:")
    @Html.TextBoxFor(m => m.Username, new { @class = "UserName form-control", name = "UserName", data = "Required" })
   
</div>
<div class="form-group">
    @Html.Label("Password:")
    @Html.TextBoxFor(m => m.Password, new { @class = "Password form-control", name = "Password", data = "Password, Required", UseSystemPasswordChar = true })
    
</div>

        <input type="submit" value="Save" />
        }
